/content/drive/My Drive/CycleGan Monet/GANS Tutorial/fcdiscriminator.hdf5
/content/drive/My Drive/CycleGan Monet/GANS Tutorial/fcgan.hdf5
/content/drive/My Drive/CycleGan Monet/GANS Tutorial/fcgenerator.hdf5